<aside class="w-64 h-full bg-gradient-to-b from-primary to-green-700 text-white flex flex-col shadow-xl rounded-r-lg ">
    <div class="relative flex justify-center items-center h-24 border-b border-white/20 px-4">
        <img src="/images/logo-sidebar.png" alt="" class="w-20 h-20">
    </div>
    <ul class="space-y-4 p-4">
        <li>
            <a href="/staff/" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fas fa-home"></i><span>หน้าหลัก</span>
            </a>
        </li>
        <li>
            <a href="/staff/setting.html" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fas fa-cog"></i><span>การตั้งค่า</span>
            </a>
        </li>
        <li>
            <a href="/staff/manage-users.html" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fas fa-users"></i><span>จัดการผู้ใช้</span>
            </a>
        </li>
        <li>
            <a href="/staff/saving.html" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fa-solid fa-piggy-bank"></i><span>บัญชีออมทรัพย์</span>
            </a>
        </li>
        <li>
            <a href="/staff/promise.html" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fa-solid fa-money-check-dollar"></i><span>สัญญาเงินกู้</span>
            </a>
        </li>
        <li>
            <a href="/staff/dividend.html" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fa-solid fa-share-nodes"></i><span>ปันผล</span>
            </a>
        </li>
        <li>
            <a href="/staff/news.html" class="flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fa-solid fa-newspaper"></i><span>ข่าวสาร</span>
            </a>
        </a>
        <li>
            <button id="toggleSidebar" class="w-full flex items-center space-x-3 text-black p-3 rounded-lg hover:bg-green-50 hover:text-primary group transition-all duration-200">
                <i class="fas fa-angles-left"></i><span>ซ่อนเมนู</span>
            </button>
        </li>
    </ul>
</aside>